<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title}} </title>
       	<link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="icon" type="image/png" href="/img/HC.png" sizes="16x16">
        <link href="{{ "/css/main.css" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}" rel="stylesheet">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
                <li><a href="/research">Research</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
        <div class="my_info">
            <a href="/"><img src="/img/me.jpg" class="my_pic"></a><br>
            <a href="mailto:petrucci@iastate.edu"><img src="/img/mail.png" class="img_link"></a>
            <a href="https://github.com/brpetrucci"><img src="/img/github.png" class="img_link"></a>
            <a href="https://twitter.com/brpetrucci"><img src="/img/twitter.png" class="img_link"></a>
            <a href="/cv/cv.pdf"><img src="/img/cv.png" class="img_link"></a>
        </div>
        <div class="container">
            {{ content }}
		</div><!-- /.container -->
	</body>
</html>
